*{

}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D0EBFF;
    color:#1971C2;
    align-items: center;
    padding-left: 4.62rem;
    padding-right: 4.62rem;
    height: 4.5rem;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.31rem;
}

#menu{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    
}
#button1{

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.31rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.5rem;
    gap: 1rem;

    border: 1px solid #1971C2;
    border-radius: 2.5rem;

    flex: none;
    order: 0;
    flex-grow: 0;
}


#desc1{
    height: 34.37rem;
    width: 100%;
    background-color: #D0EBFF;  
    
    
}

#desc1t1{
    position: relative;
    width: 20.62rem;
    height: 1.31rem;
    left: 7.68rem;
    top: 0.62rem;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 0.87rem;
    line-height: 100%;
    /* identical to box height, or 21px */

    letter-spacing: 0.08em;

    color: #1971C2;
}
#desc1t2{
    position: relative;
    width: 30.81rem;
    height: 8.5rem;
    left: 7.68rem;
    top: 3.12rem;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.87rem;
    line-height: 160%;
    /* or 68px */


    /* Secondary Colors/gray-headline */

    color: #212529;
}

#disc1t3{
    position: absolute;
    width: 36.56rem;
    height: 3.37rem;
    left: 7.68rem;
    top: 21.81rem;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 100%;
    /* or 27px */


    /* Secondary Colors/gray-paragraph */

    color: #495057;

}

#button2{

position: absolute;
width: 13.06rem;
height: 3.12rem;
left: 7.68rem;
top: 27.18rem;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1rem 3.12rem;
gap: 0.62rem;

font-family: 'DM Sans';
font-style: normal;
font-weight: 600;
font-size: 0.68rem;
line-height: 1.12rem;
text-transform: uppercase;
background: #1971C2;
border-radius: 2.5rem;
/* Secondary Colors/White */
color: #FFFFFF;

flex: none;
order: 0;
flex-grow: 0;

}

#nova1{

    position: absolute;
    width: 28.12rem;
    height: 30.37rem;
    left: 40.43rem;
    right: 7.68rem;
    top: 5.31rem;

background: url(nova1.png);
}

.grid1{
    position: relative;
    display: grid;
    margin: -4.37rem;
    height: 0px;
    width: 0px;
    left: 12.5rem;
    right: auto;
    grid-template-rows: 7.68rem;
    grid-template-columns: 18.75rem 18.75rem 18.75rem;
    z-index: auto; 
}
.item-grid1 {
    background-color: #FFFFFF;
}


#tex_grid{
    position: relative;
    display: flex;
    text-align: center;
    gap: 18.75rem;
    left: 11.25rem;
    margin: 5.62rem;

    font-family: 'DM Sans';
    font-style: normal;
    color: #061800;

}
.tex_grid2{
    position: relative;
    display: flex;
    text-align: center;
    top:-7.5rem;
    gap: 8.75rem;
    left: 10rem;
    margin: 5.62rem;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 10;
    line-height: 100%;
    size:1rem;
    color:  #1971C2;
}

#serv{
    position: relative;
    top:-17rem;
    height: 67.62rem;
    width: 100%;
    background-color: #F9F9F9;
    z-index: -1;
}
.tit1{
        position: relative;
        
        left: 36.25rem;
        top: 16.43rem;
        font-family: 'DM Sans';
        font-style: normal;
        color: #1971C2;

}

.tit2{
        position: relative;
        text-align: center;
        width: 37.5rem;
        margin: 18.12rem;
        
        

        font-family: 'DM Sans';
        font-style: normal;
        color: #061800;
}

.grid2{
    position: relative;
    display: grid;
    margin: -4.37rem;
    height: 6.25rem;
    width: 6.25rem;
    left: 6.25rem;
    gap: 2.5rem;
    right: auto;
    grid-template-rows: 12.5rem 12.5rem;
    grid-template-columns: 18.75rem 18.75rem 18.75rem;
    z-index: auto; 
}
.item-grid2 {
    background-color: #FFFFFF;
}

#tex_grid3{
    position: relative;
    display: flex;
    text-align: center;
    gap: 12rem;
    left: 15rem;
    margin: -5.62rem;

    font-family: 'DM Sans';
    font-style: normal;
    font-size: 0.62rem;
    color: #061800;

}

#tex_grid4{
    
    position: absolute;
    display: flex;
    text-align: center;
    gap: 15.8rem;
    top: 54.37rem;
    left: 9.37rem;
    

    font-family: 'DM Sans';
    font-style: normal;
    font-size: 0.62rem;
    color: #061800;
    

}